<%= form_with(model: palyer, local: true) do |form| %>
  <% if palyer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(palyer.errors.count, "error") %> prohibited this palyer from being saved:</h2>

      <ul>
      <% palyer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :palyer_name %>
  </div>

  <div class="field">
    <%= form.label :rank %>
    <%= form.number_field :rank, id: :palyer_rank %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
