<p id="notice"><%= notice %></p>

<h1>Palyers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @palyers.each do |palyer| %>
      <tr>
        <td><%= palyer.name %></td>
        <td><%= palyer.rank %></td>
        <td><%= link_to 'Show', palyer %></td>
        <td><%= link_to 'Edit', edit_palyer_path(palyer) %></td>
        <td><%= link_to 'Destroy', palyer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Palyer', new_palyer_path %>
