<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @palyer.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @palyer.rank %>
</p>

<%= link_to 'Edit', edit_palyer_path(@palyer) %> |
<%= link_to 'Back', palyers_path %>
